/* Numara ve Arama kutusu Başladı */
.number-or-searchbox {
    background-color: white;
    border-bottom: 1px solid darkgray;
}
.number {
    font-weight: 600;
    position: absolute;
    text-decoration: none;
    color: black;
    top: 15px;
    left: 55%;
}
.number:hover {
    text-decoration: none;
    color: black;
}
.Search-Box {
    position: absolute;
    left: 70%;
}
.text-box{
    outline: none;
    border: 1px solid darkgray;
    border-radius: 20px 0 0 20px;
    border-right: none;
    float: right;
}
.button-box {
    border: 1px solid darkgray;
    border-radius: 0 20px 20px 0;
    border-left: none;
    margin-left: -5px;
    cursor: pointer;
    outline: none;
}
/* Navbar Menü Başladı */
