/* Fontlar */
@font-face {
    font-family: 'Gotham';
    src: url('/assets/fonts/Gotham-Book.ttf') format('truetype');
    src: url('/assets/fonts/Gotham-Book.woff') format('woff');
    url('/assets/fonts/Gotham-Book.eot'),
    url('/assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    font-weight: 500;
    font-style: normal;
}
/* Numara ve Arama kutusu Başladı */
.number-or-searchbox {
    background-color: white;
    border-bottom: 1px solid darkgray;
    display: block;
    text-align: right;
    margin: 0;

}
.number-text {
    display: inline-block;
}
.number {
    font-family: "Gotham" , sans-serif;
    text-decoration: none;
    color: black;
    margin-right: 28px;
}
.number:hover {
    text-decoration: none;
    color: black;
}
.search-engine {
    display: inline-block;
}
.Search-Box {
    padding: 0;
    display: -webkit-box;
    border: 1px;
    margin: 8px 0 0 0;
    outline: none;
}
.text-box{
    border: 1px solid darkgray;
    border-radius: 20px 0 0 20px;
    border-right: none;
    font-size: 14px;
    color: black;
}
.button-box {
    border: 1px solid darkgray;
    border-radius: 0 20px 20px 0;
    border-left: none;
    margin-left: -6px;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width: 767px){
    .number-or-searchbox {
        background-color: white;
        border-bottom: 1px solid darkgray;
        display: block;
        text-align: center;
    }
    .number {
        font-family: "Gotham" , sans-serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    .number:hover {
        text-decoration: none;
        color: black;
    }
}
/* Navbar Menü Başladı */
.logo-or-menu {
    background-color: white;
    height: 70px;
    border-bottom: 3px solid #e68b78;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.logo {
    height: 50px;
    margin: 10px 0 10px 15px;
    padding-right: 15px;
    padding-left: 5px;
}
.menu {
    color: #e68b78!important;
    position: relative;
    top: 10px;
    left: 32px;
    font-size: 12px;
    font-weight: 600;
}