/* Fontlar */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff') format('woff');
    src: url('../fonts/Gotham-Book.eot'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
    url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Savoye LET';
    src: url('../fonts/SavoyeLetPlain.eot');
    src: url('../fonts/SavoyeLetPlain.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SavoyeLetPlain.woff') format('woff'),
    url('../fonts/SavoyeLetPlain.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



/*<------------------------------------------------1.Sayfa----------------------------------------------------------->*/
                                                 /*ANASAYFA*/
/* Numara ve Arama kutusu Başladı */
.number-or-searchbox {
    background-color: white;
    border-bottom: 1px solid darkgray;
    display: block;
    text-align: right;
    margin: 0;

}
.number-text {
    display: inline-block;
}
.number {
    font-family: "Gotham" , sans-serif;
    text-decoration: none;
    color: black;
    margin-right: 28px;
}
.number:focus{
    text-decoration: none;
    color: black;
}
.search-engine {
    display: inline-block;
}
.Search-Box {
    padding: 0;
    display: -webkit-box;
    border: 1px;
    margin: 8px 0 0 0;
    outline: none;
}
.text-box{
    border: 1px solid darkgray;
    border-radius: 20px 0 0 20px;
    border-right: none;
    font-size: 14px;
    color: black;
}
.button-box {
    border: 1px solid darkgray;
    border-radius: 0 20px 20px 0;
    border-left: none;
    margin-left: -6px;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width: 767px){
    .number-or-searchbox {
        background-color: white;
        border-bottom: 1px solid darkgray;
        display: block;
        text-align: center;
    }
    .number {
        font-family: "Gotham" , sans-serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    .number:hover {
        text-decoration: none;
        color: black;
    }
}
/* Navbar Menü Başladı */
.logo-or-menu {
    background-color: white;
    border-bottom: 3px solid #e68b78;
    margin: 0;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.logo {
    height: 40px;
    position: relative;
    top: 8px;
}
.menu {
    color: #e68b78!important;
    position: relative;
    top: 4px;
    font-size: smaller;
    float: right;
}
.menu:focus {
    background-color: white;
    color: black!important;
}
.dropdown-menu >li >a {
    display: block;
    padding: 7px 12px;
    color: #e68b78!important;
}
.icon-box {
    position: relative;
    right: 20px;
}
@media screen and (max-width: 767px){
    .menu{
        text-align: center;
    }
    .logo {
        left: 25px;
        top: 6px;
    }

}
/* Arkaplan Resmi 1 */
#header-section {
    background: url('../img/background img/anasayfaarkaplanı1.jpg') no-repeat 60% 100%;
    background-size: cover;
    height: 80vh;
}
.ovr {
    top: 25%;
    position: relative;
}
.middle {
    font-size: 38px;
    color: white;
}
.buttonstil {
    border-radius: 10px 10px;
    background-color: #e68b78;
    background-size: 1px;
    padding: 11px 46px;
    margin: 25px;
    border: 0;
    color: white;
}
/*Yazı*/
.Jake_a_look_at_our {
    font-family: "Savoye LET", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    color: black;
    text-align: center;
    margin: 0!important;
}
.Best_Tours {
    font-weight: bolder;
    font-style: normal;
    color: black;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

/* Slider */
.sliderbox{
    margin: 0 10px;
    position: relative;
}
.slider_text{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    bottom: 0;
    color: white;
}
a.next a.prev:before {
    position: relative;
    top: 80px;
    right: 40px;

}
/*Backgroud image two*/
/*text two*/
.text_two {
    position: relative;
}
/*Thumbnail's*/
#team {
    background: url('../img/background img/anasayfaarkaplan2.png');
}
.thumbnail {
    padding: 0;
    position: relative;
}
.thumbnail_img{
    width: 100%;
}
.thumbnail_header{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.thumbnail_text {
    text-align: center;
}
.thumbnail_box {
    padding: 10px;
}
.details {
    color: white;
    background-color: #e68b78;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #e68b78;
    border-radius: 0;
}
/*email box*/
.river{
    background: url('../img/background img/anasayfa_resmi_3.jpg') center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.inriver{
    opacity: 0.9;
    background-color: #4ca1fb;
    background-size: cover;
}
.join_the_newsletter {
    font-family: "Gotham" , sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: white;
}
.to_receive_our_best_monthly_deals{
    font-family: "Savoye LET", sans-serif;
    margin: 0;
    font-size: 18px;
    color: white;
}
.email_box_out{
    margin: 0;
    padding: 0;
}
.email_box{
    border: 8px solid #69aff7;
    border-right: none;
}
.subscribe {
    border-radius: 0;
    border: 8px solid #69aff7;
    border-left: none;
    margin-left: -7px;
    background-color: #4cae4c;
    color: white;
    font-weight: bold;
}

/*<-----------------------------------------------2.SAYFA------------------------------------------------------------>*/
                                               /*GULET DETAY*/
#background_color{
    background-color: #f6f6f6;
}
.text_link{
    padding: 10px;
    font-size: 14px;
}
.home {
    color: black;
}
.home:hover {
    color: black;
}
.home:focus {
    color: black;
}
.link_pages {
    color: black;
}
.link_pages:hover {
    color: black;
}
.link_pages:focus {
    color: black;
}
.link_city {
    color: black;
}
.link_city:hover {
    color: black;
}
.link_city:focus {
    color: black;
}
/*Gulet detay slider*/
.white_box {
    background-color: white;
    padding: 20px;
    border: 1px solid white;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.4);
}
.big_slider {
    padding-bottom: 4px;
}
.small_slider {
}
/*<------------------------------------------------3.Sayfa----------------------------------------------------------->*/
                                               /*DESTINATIONS*/
.background_pages {
    background: url('/assets/img/other/kaleici.jpg') no-repeat 60% 100%;
    background-size: cover;
}
.thumbnail_our_header {
    font-weight: bold;
    font-size: 20px;
}
.thumbnail_white_box {
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
}
/*<------------------------------------------------4.Sayfa----------------------------------------------------------->*/
                                                  /*OFFERS*/
.offers_white_box{
    font-family: "Gotham" , sans-serif;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
.offers_header{
    font-size: 30px;
}
.offers_button {
    color: white;
    font-weight: bold;
    background-color: #e68b78;
    position: relative;
    bottom: 0;
    left: 0;
}
.offers_image_one{
     width: 100%;
 }
.offers_image_two{
    width: 50%;
}
.offers_white_box_two {
    font-family: "Gotham" , sans-serif;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
.offers_social_media_box{
    width: 20%;
}
.share_with_friends_box{
    color: gray;
    font-size: 20px;
}
.offers_social_media {
    list-style: none;
    padding: 0;
}
.offers_white_box_three{
    font-family: "Gotham" , sans-serif;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
.offers_buton_two {
    color: white;
    background-color: #4cae4c;
    text-align: center;
}
.offers_white_box_four{
    font-family: "Gotham" , sans-serif;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
.country{
    list-style: none;
    padding: 0;
}
.offers_country_text{
    color: #e68b78;
}
.offers_country_text:hover {
    color: #e68b78;
}
.offers_country_text:focus {
    color: #e68b78;
}
/*<------------------------------------------------5.Sayfa----------------------------------------------------------->*/
/*<------------------------------------------------6.Sayfa----------------------------------------------------------->*/
/*<------------------------------------------------7.Sayfa----------------------------------------------------------->*/
                                                   /*BLOG*/
.blog_box {
    background-color: white;
    border: 1px solid white;
    position: relative;
}
.blog_text{
    text-align: center;
}
/*<------------------------------------------------8.Sayfa----------------------------------------------------------->*/
                                                /*BLOG DETAY*/
/*<------------------------------------------------FOOTER------------------------------------------------------------>*/
                                                 /*FOOTER*/
.footer_background{
    background-color: #2c3e52;
}
/*footer sol taraf*/
.about_us{
    border-right: 2px solid gray;
}
.about {
    text-underline: white;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: white;
}
.about:hover{
    text-decoration: white;
    color: white;
}
.about:focus{
    text-decoration: white;
    color: white;
}
.view {
    position: absolute;
    right: 0;
    color: white;
    text-decoration: white;
}
.view:hover{
    text-decoration: white;
    color: white;
}
.view:focus{
    text-decoration: white;
    color: white;
}
.faq {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: white;
}
.faq:hover{
    text-decoration: white;
    color: white;
}
.faq:focus{
    text-decoration: white;
    color: white;
}
.testimonials {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: white;
}
.testimonials:hover{
    text-decoration: white;
    color: white;
}
.testimonials:focus{
    text-decoration: white;
    color: white;
}
/*footer sag taraf*/
.contact {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: white;
}
.contact:hover{
    text-decoration: white;
    color: white;
}
.contact:focus{
    text-decoration: white;
    color: white;
}
.social_media {
    position: relative;
    float: left;
    list-style: none;
}
.email {
    color: white;
}
.email:hover {
    color: white;
}
.email:focus {
    color: white;
}
.telephone {
    color: white;
}
.telephone:hover {
    color: white;
}
.telephone:focus {
    color: white;
}
/*<------------------------------------------------SPONSPORLAR------------------------------------------------------->*/
                                              /*SPONSOR LOGOLARI*/
.image img{
    margin: 0;
}
.sponsor_background img{
    background-color: white;
}